<header class="header" id="header">
    <img src="/assets/itau_logo.png" alt="Logo do Itau" class="logo" id="logo">
    <h3 id="title-map" class="title-map">Localizador de Agências: </h3>
</header>
<div class="card-map" id="card-map">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form class="form-cep">
                <label for="incep">Buscar por Cep:</label><br>
                <input class="input-cep" [(ngModel)]="cep" type="text" placeholder="01234-123" id="incep" name="incep">
                <button type="button" (click)="buscaPorCep()"> OK </button>
            </form>
        </div>
        <div *ngIf="isCepInvalido" class="cep-invalido" id="cepInvalido">
            <span class="invalido" id="invalido">CEP INVALIDO!</span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div *ngIf="inProgress" >
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <agm-map
                [zoom]="16" 
                [latitude]="latitude" 
                [longitude]="longitude">

                <agm-marker [latitude]="latitude" [longitude]="longitude"
                [markerDraggable]='true' (dragEnd)="buscarAreaSelecionada($event)"></agm-marker>

                <agm-marker *ngFor="let agencia of agencias;"
                    [latitude]="agencia.geometry.location.lat" 
                    [longitude]="agencia.geometry.location.lng" 
                    [iconUrl]="icon" 
                    (markerClick)="mostrarAgencia(agencia)">
                </agm-marker>

                
            </agm-map>
        </div>
        <div *ngIf="openAgencyInfo" class="col-sm-12 col-md-12 col-lg-12">
            <h4 class="title-agency" id="title-agency">
                {{agenciaSelecionada.name}}
            </h4>
            <p class="endereco" id="endereco">
                {{agenciaSelecionada.formattedAddress}}
            </p>
            <p class="status" id="status" 
                [ngClass]="{
                    'agency-closed':agenciaSelecionada.openingHours.openNow === false,
                    'agency-opened':agenciaSelecionada.openingHours.openNow === true
                }">
                {{agenciaSelecionada.openingHours.openNow ? 'ABERTO' : 'FECHADO'}}
            </p>
            <p class="rating" id="rating" >
                Nota: {{agenciaSelecionada.rating}}
            </p>
        </div>
    </div>
</div>
<footer class="footer" id="header" >

</footer>
