.card-map {
    top: 0px;
    background-color: #fff;
    width: calc(100% - 60px);
    margin: 60px auto;
    border-radius: 15px;

    .form-cep {
        font-family: 'Nunito', sans-serif;
        padding-top: 20px;
        padding-left: 40px;
        padding-bottom: 20px;
    }
    .input-cep {
        padding-right: 10px;
    }

    agm-map { 
        width: 100%;
        height: 300px; /* height is required */
    }

    .title-agency {
        font-weight: bold;
        padding-left: 20px;
        margin-top: 20px;
    }

    .endereco {
        padding-left: 20px;
    }

    .status {
        padding-left: 20px;
    }

    .rating {
        padding-left: 20px;
    }

    .agency-closed {
        color: red;
    }

    .agency-opened {
        color: blue;
    }
    .cep-invalido {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 50px;
        
        .invalido {
            color: red;
            animation: opacityLight 1s infinite;
        }
    }
   
}

.header {
    background-color: #e2761e;
    width: 100%;
    height: 70px;
    border-radius: 3px;

    .logo {
        width: 60px;
        height: 80%;
        margin-top: 5px;
        margin-left: 5px; 
        float: left;   
    }

    .title-map {
        font-weight: bold;
        font-family: 'Myriad Set Pro', sans-serif;
        font-size: 16px;
        float: left;
        color: white;
        margin-top: 20px;
        margin-left: 5px;
    }

    @media(max-width: 959px){
        .header{
            border-radius: 0px;
        }
    }
}

